<div class="card" id="centre">
    <img src='assets/movie.jpg' alt="movie" style="width:100%">
    <div class="container">
      <h4><b>Welcome to Rent-Flix.com</b></h4> 
      <p>The world's most popular and authoritative source for movie, TV and celebrity content.</p> 
      <p>Rent-Flix is the world's most popular and authoritative source for movie,</p>
      <p>TV and celebrity content. We offer a searchable database of more than </p>
      <p>250 million data items including more than 4 million movies, TV and </p>
      <p>entertainment programs and 8 million cast and crew members. IMDb launched
        <p> online in 1990 and has been a subsidiary of Amazon.com since 1998.</p>
    </div>
  </div>
  