


<div class='panel panel-primary'>
 
       

<div class="table-responsive" *ngIf='movies && movies.length'> 
    <div class="searchbar">
        <form class="form-inline my-2 my-lg-0" (click)="filterMovies(search.value)">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" #search>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>
  <table class="table">
    <thead>
    <tr>
      <th>
        <button id='imagebutton' class='btn btn-primary'(click) = 'ShowImageMethod()'>
            {{showImage ? 'Hide':'Show'}} Image
            
        </button>
      </th>
      <th>Movie</th>
      <th>Year</th>
      <th>Rated</th>
      <th>ImdbID</th>
      <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= 'let movie of movies' class="movie" >
             <td>
              <img *ngIf='showImage'
              [src]= 'movie.Poster'
             [title]='movie.Title'
             [style.width.px]='imageWidth'
             [style.margin.px]='imageMargin'>
        </td>
      <td> {{movie.Title}} </td>
      <td> {{movie.Year}} </td>
      <td> {{movie.Rated}} </td>
      <td> {{movie.imdbID | uppercase }} </td>
      <td> {{movie.Genre}}</td>
      </tr>

    </tbody>
  </table>
</div>
</div>
