<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{Title}}
    </div>
    <div class= 'panel-body'>
      <div class='row'>
        <div class='col-md-2'>Filter By:</div>
        <div class='col-md-4'>
          <input type='text'/>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h3> Filtered By: </h3>
        </div>
      </div>

<div class="table-responsive" >
  <table class="table">
    <thead>
    <tr>
      <th>
        <button class='btn btn-primary'>
          Show Images
        </button>
      </th>
      <th>movie</th>
      <th>Year</th>
      <th>Rated</th>
      <th>Genre</th>
      <th>IMDB Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>
        
      </td>
      <td> Title here </td>
      <td> Year here </td>
      <td> movie rated here </td>
      <td> genre here </td>
      </tr>

    </tbody>
  </table>
</div>
</div>
</div>