
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    
    
    <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
      <div class="form-group" >
        <label for="UserName">
           UserName:    
        </label>
        <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      </div>
      <div class="form-group" >
      <label for="Email">
         Email Add:    
      </label>
      <input type="text" id="Email"  name="Email" #Email="ngModel" [(ngModel)]="user.Email"/>
    </div>
      <div class="form-group" >
        <label for="Password">
          Password:
        </label>
        <input type="Password" id="Password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required/>
      </div>
      <div class="form-group">
      <label for="FullName">
        Full Name:
      </label>
      <input type="text" id="FullName"   name="FullName" #FirstName="ngModel" [(ngModel)]="user.FullName">
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" >Register</button>
      </div>
    </form> 




